## üéØ Exerc√≠cios üéØ <a class="anchor" id="cinco"></a>

https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

1. Pegar os dados de products, orders,  customers,items
2. Explorar os dados e identificar as colunas em comum
3. Junte as colunas no seu dataframe de items necessarias para poder ver quais s√£o as 10 categorias que mais trouxeram receita pra a empresa
4. Fa√ßa um groupby e descobra qual order_id teve mais produtos pedidos(um pedido pode ter mais de um item)
    - Procure por esse pedido no df de clientes(fa√ßa o merge)
    - De qual estado √© o cliente?
5. No DF de orders crie uma nova coluna com o time delta entre a data estimada de entrega e a data real 
6. Analise a coluna e traga conclus√µes(
    - temos valores outliers?
    - quanto eles representam?
    - qual √© a nossa media?
    - quanto representa nosso de nosso dataframe pedidos que demoraram mais de 5 dias para entregar apos a data prometida
7. Quantos estados temos no nosso dataset?, Tem todos os estados do Brasil?,Quais s√£o os 3 estados com mais pedidos?
8. Bonus(Fa√ßa um gafico com essa informa√ß√£o)

In [1]:
import pandas as pd

#Explorando os datasets

customers = pd.read_csv("olist_customers_dataset.csv")
customers.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [ ]:
geolocation = pd.read_csv("olist_geolocation_dataset.csv")
geolocation.head(2)

In [3]:
itens = pd.read_csv("olist_order_items_dataset.csv")
itens.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [4]:
payments = pd.read_csv("olist_order_payments_dataset.csv")
payments.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [5]:
orders = pd.read_csv("olist_orders_dataset.csv")
orders.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [6]:
products = pd.read_csv("olist_products_dataset.csv")
products.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [7]:
products_translation = pd.read_csv("product_category_name_translation.csv")
products_translation.head(2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

In [10]:
#Junte as colunas no seu dataframe de items necessarias para poder ver quais s√£o as 10 categorias que mais trouxeram receita pra a empresa
df_3 = pd.merge(itens,products,how = 'left')

cols = [1,8,9,10,11,12,13,14]
df_3.drop(df_3.columns[cols],axis=1,inplace=True)

df_3["payment_total"] = df_3["price"] + df_3["freight_value"]
df_3.groupby(by="product_category_name")["payment_total"].sum().nlargest(10)

product_category_name
beleza_saude              1441248.07
relogios_presentes        1305541.61
cama_mesa_banho           1241681.72
esporte_lazer             1156656.48
informatica_acessorios    1059272.40
moveis_decoracao           902511.79
utilidades_domesticas      778397.77
cool_stuff                 719329.95
automotivo                 685384.32
ferramentas_jardim         584219.21
Name: payment_total, dtype: float64

In [19]:
#4. Fa√ßa um groupby e descobra qual order_id teve mais produtos pedidos(um pedido pode ter mais de um item)
#    - Procure por esse pedido no df de clientes(fa√ßa o merge)
#    - De qual estado √© o cliente?
mais_prod = itens.groupby(by="order_id")["product_id"].size().nlargest(10)


df_4 = pd.merge(orders,customers, on = "customer_id", how = 'left')
df_4.query("order_id == '8272b63d03f5f79c56e9e4120aec44ef'")["customer_state"]

88849    SP
Name: customer_state, dtype: object

In [ ]:
#5. No DF de orders crie uma nova coluna com o time delta entre a data estimada de entrega e a data real 
from datetime import datetime,date

orders.info()

orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])

orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])

orders.dtypes


orders["Delta_tempo"] = orders['order_estimated_delivery_date']-  orders['order_delivered_customer_date']

orders

In [36]:
# 6. Analise a coluna e traga conclus√µes(
#     - temos valores outliers? Sim, como o valor do maximo √© bem maior que o mean
#     - quanto eles representam? 4875
#     - qual √© a nossa media? 11 dias
#     - quanto representa nosso de nosso dataframe pedidos que demoraram mais de 5 dias para entregar apos a data prometida


orders["Delta_tempo"].describe() 


def find_outliers_IQR(df):

   q1=df.quantile(0.25)

   q3=df.quantile(0.75)

   IQR=q3-q1

   outliers = df[((df<(q1-1.5*IQR)) | (df>(q3+1.5*IQR)))]

   return outliers

outliers = find_outliers_IQR(orders["Delta_tempo"])

print('number of outliers: '+ str(len(outliers)))

print('max outlier value: '+ str(outliers.max()))

print('min outlier value: '+ str(outliers.min()))

number of outliers: 4875
max outlier value: 146 days 00:23:13
min outlier value: -189 days +00:35:53

count                         96476
mean     11 days 04:17:55.957616425
std      10 days 04:28:00.181984555
min             -189 days +00:35:53
25%                 6 days 09:21:36
50%         11 days 22:46:28.500000
75%         16 days 05:51:54.750000
max               146 days 00:23:13
Name: Delta_tempo, dtype: object

In [45]:
len(orders["Delta_tempo"].loc[orders["Delta_tempo"] > "5 days 23:59:59"])/len(orders["Delta_tempo"])

0.7657304331211472

In [50]:
# 7. Quantos estados temos no nosso dataset?, Tem todos os estados do Brasil?,Quais s√£o os 3 estados com mais pedidos?
df_4["customer_state"].nunique()

27

In [51]:
df_4["customer_state"].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64